---
import Footer from '@components/layouts/footer/index.astro'
import Layout from '@components/layouts/layout/index.astro'
import Main from '@components/layouts/main/index.astro'
import NavBar from '@components/layouts/navbar/index.astro'
import Pomodoro from '@components/layouts/pomodoro/index.astro'

import { languages } from '@services/i18n/ui'
import { generateParamsLanguageList } from '@services/i18n/utils'

import '@styles/index.css'
import '@styles/globals.css'

export function getStaticPaths() {
  return generateParamsLanguageList(languages)
}

const title = 'Groc'
---

<Layout title={title}>
  <NavBar />
  <Main>
    <Pomodoro />
  </Main>
  <Footer />
</Layout>
