---
import { getLangFromUrl } from '../i18n/utils'

interface Props {
  title: string
  darkMode: boolean | undefined
}

const { title, darkMode } = Astro.props
const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={lang} class={darkMode ? 'dark' : ''}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🟡</text></svg>"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class={' bg-gray-100 dark:bg-slate-800'}>
    <slot />
    <style is:global></style>
  </body>
</html>
