---
import ThemeToggle from '@molecules/ThemeToggle'
import NavBarComponent from '@organisms/NavBar'

import '@styles/NavBar.css'
---

<aside id="navbar">
  <div
    class="m-auto mb-10 mt-2 flex h-[100px] w-full items-center justify-center bg-yellow-300 text-center text-3xl font-bold text-white"
  >
    <span>GROC</span>
  </div>
  <NavBarComponent client:only="react" />
  <ThemeToggle client:only="react" />
</aside>
