---
import ThemeToggle from '@components/ui/molecules/ThemeToggle'
import NavBarComponent from '@components/ui/organisms/NavBar'
import '@styles/NavBar.css'
---

<aside id="navbar">
  <div
    class="flex justify-center items-center  m-auto mb-10 mt-2 h-[100px] w-80  bg-yellow-300 text-center text-3xl font-bold text-white"
  >
    <span>GROC</span>
  </div>
  <NavBarComponent client:only="react" />
  <ThemeToggle client:only="react" />
</aside>
